/* font-family: 'DM Sans', sans-serif;
font-family: 'DM Serif Display', serif; */

.hidden{
    display: none;
    visibility: 0;
}

 #choicea, #choiceb, #choicec, #journal, #visuals, #home, #choose, #breathing{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white, 0;
}

#canvas-basic {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#startpage
{
    position: absolute;
}

#title{
    font-size: 150px;
    text-shadow: 2px 2px 10px grey;
    padding-top: 100px;
    margin-bottom: 0px;
}

h1{
    font-family: 'DM Serif Display', serif; 
    font-size: 50px;
    font-weight: normal;
    color: white;
    padding-top: 80px;
    margin-left: 100px;
}

p{
    font-family: 'DM Sans', sans-serif;
    font-size: 30px;
    padding-left: 100px;
    color: grey;
    width: 7.5in;
    line-height: 50px;
}

button{
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'DM Sans', sans-serif;
    border: 0px;
    border-radius: 30px;
    background-color: #669BC5;
    color: white;
    font-size: 15px;
    margin-left: 100px;
}

textarea{
    margin: auto;
    display: block;
    width: 400px;
    height: 100px;
}

#choicea{
    padding-top: 180px;
}

#choiceb{
    padding-top: 180px;
}

#choicec{
    padding-top: 180px;
}

#submit1{
    margin-top: 40px;
    margin-left: 1000px;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'DM Sans', sans-serif;
    border: 0px;
    border-radius: 30px;
    background-color: #669BC5;
    color: white;
}

#overwhelmed{
    margin-left: 50px;
}

#stressed{
    margin-left: 50px;
}

#restless{
    margin-left: 50px;
}

#conthome{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 50%;
    margin-top: 300px;
}

#submit2{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 50%;
    margin-top: 200px;
}

.change-content {
text-align: center;
margin-top: 20%;
}

.change-content div{
    font-family: 'DM Serif Display', serif; 
    font-weight: normal;
    color: white;
    font-size: 150px;
    text-shadow: 2px 2px 10px grey;
    }

.change-content div:after{
content: 'Breathe In';
animation: text 12s infinite; 
}

@keyframes text {
    10% {
        content:'1';}
    20% {
        content:'2';}
    30% {
        content:'3';}
    40% {
        content:'4';}
    50% {
        content:"Breathe Out";}
    60% {
        content:"1";}
    70% {
        content:"2";}
    80% {
        content:"3";}
    90% {
        content:"4";}
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}